body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F4F4F4 !important;
  }
  
  
  .header-img{
    width: 100%;
  }
  
   .nav-links{ 
    position: absolute;
    right: 10px;
    top : 10px;
   }
  
   .nav-links > *{
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
   }
  
   .blog-preview a{
    text-decoration: none;
    color: #000000;
   }
  
   .blog-preview{ 
    margin: 20px 0 ;
    padding: -10px;
    border-radius: 10px;
    background-color: #ffffff;
   }
   
   .navbar{
    padding-top: 0rem !important;
  }
  
  form{
    padding: 30px  
  }
   
  .background-components{
    background-color: #ffffff;  
    margin-top: 20px;
  }
  
  .card-body {
    flex: 1 1 auto;
    padding: 10px;
  }
  
  .form-control {
    display: block;
    width: 100%; 
    color: #212529;
    background-color: #FAFAFA  !important;
    background-clip: padding-box;
    border: 0 !important;
    appearance: none; 
  }
  
  .form-select{
    background-color: #FAFAFA !important;
    border: 0 !important;
  }

  .title-create{
    font-weight: bold;
    margin-bottom: 20px;
  }

 *{
  outline: none !important;
  box-shadow: none !important;
 }
 
 form{
  position: relative;
}

.button-create{
  background-color: #EC7528;
  border: none;
  color: white;
  padding: 10px 32px;
  width: 240px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none; 
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  margin-top: 100px !important;
}

.btn-delete{
  bottom: auto;
  margin-bottom: 100px !important;
}

textarea{
  padding-bottom: 100px;
  margin-bottom: 80px !important;
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 !important;
  border-radius: 0.25rem; 
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1)!important;
}

.card-style{
  height: 300px;
}

.mb-3{
  margin-bottom: 50px !important;
}

.card-details{
  margin: 50px;
}